@font-face {
    font-family: 'CormorantSc';
    src: url(Fonts/CormorantSC-Regular.ttf);
}

.nav-links{
    display:flex;
    justify-content:center;
    white-space: nowrap;
    gap:64px;
    font-family: 'CormorantSc', serif;
    font-size:52px;
}
.nav-links a {
    text-decoration: none;
    display:inline-block;
    padding: 4px 12px;
    border: 1px solid rgb(218, 202, 165);
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.nav-links a:hover {
    color: rgb(188, 99, 15);
    border-color: #000000;
}


* {
    margin: 0;
    padding: 0;
}

.home-wrapper {
    display:flex;
    align-items: center;
    justify-content:center;
    gap:32px;
    padding: 40px;
}

.blob-img {
  width: 320px;               
  height: 320px;             
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  overflow: hidden;           
  border: 3px solid #885F43;   
}

body {
    background-color: lab(90.57% -2.59 7.3);
    color: rgb(133, 104, 45);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    background: transparent;
}


#home h1{

    color: #885F43;
    text-shadow: 2px 2px 4px rgba(82, 82, 82, 0.5);
    margin: 10px;
    margin-left:60px;
}
#home h2 {
    
    color: #C8B3A0;
    text-shadow: 2px 2px 4px rgba(88, 87, 87, 0.5);
    margin: 10px;
    margin-left:80px;

}