@font-face {
    font-family: 'Cormorant Sc';
    src: url(fonts/CormorantSC-Regular.ttf);
}

.nav-links{
    display:flex;
    justify-content:center;
    white-space: nowrap;
    gap:64px;
    font-family: 'Cormorant Sc', serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #B8E2F2;
    color: rgb(2, 11, 62);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    background: transparent;
}

#home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

#home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#home h1,
#home h2 {
    position: relative;
    z-index: 5;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
}